body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: column;
    /* Flex direction is row as default */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#container div {
    width: 200px;
    height: 200px;
}


/*  flex shorthand
    flex: 2 2 10%; goes in order -> flex-grow, flex-shrink, flex-basis
*/


/* Another example */
main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}
main .sidebar {
    background-color: purple;
    flex: 1 2 300px;   
}
main .maincontent {
    background-color: red;
    flex: 2 800px;
}