div {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
    display: inline-block;
}
/* Static position */
#staticMiddle {
    background-color: blue;
    position: static;
    top: 100px;
    /* No effect to changes for example top: 100px */
}
/* Relative position */
#relativeMiddle {
    background-color: blue;
    position: relative;
    top: 50px;
    left: 100px;
    /* Now changes like top and left make difference but other items stay in position */
}
/* Absolute Position */
#absolute {
    position: relative;
    /* This is the closest relative position, and it must have position declared */
}
#absoluteMiddle {
    background-color: blue;
    position: absolute; /* in normal condition other div is behing middle one */
    /* it is positioned to the closest positioned ancestor */
    top: 15px;
    left: 70px;
}
/* Fixed Position */
#fixedMiddle {
    background-color: red;
    position: fixed;
    top: 600px;
    left: 600px;
    /* Red color on purpose. Div is fixed now depending on the body */
}

